.btn-style{
    margin-bottom: 50px;
    background-color: white;
    color: black;
}

.box-big{
    width: 400px;
    height: 150px;
    background-color: black;
    color: white;
    position: absolute;
    right: 0;
    bottom: 0;
}

.box{
    width: 100px;
    height: 100px;
    background-color: violet;
    color: white;
}

.box-top{
    position: absolute;
    right: 0;
    top: 0;
}

.box-bottom{
    position: absolute;
    left: 0;
    bottom: 0;
}